.click {
  cursor: pointer;
}

.category-artwork {
  height: 150px;
}

.song-artwork {
  height: 100px;
}

.btn-floater {
  float: right;
  top: 34px;
  right: 4px;
}
.dropdown-item:hover {
  background-color: transparent;
  border: none;
}
